PORT=3000
ELEVENLABS_API_KEY=4Mhjd1Q9JRWcKfDQvn26
ELEVENLABS_MODEL_ID=eleven_multilingual_v2
ELEVENLABS_DEFAULT_FEMALE_VOICE_ID=EXAVITQu4vr4xnSDxMaL
ELEVENLABS_DEFAULT_MALE_VOICE_ID=JBFqnCBsd6RMkjVDRZzb
